.ModalContainer {
  background-color: #00000038;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 500;
  left: 0;
  top: 0;
}

.Modal {
  position: fixed;
  z-index: 600;
  background-color: white;
  width: 70%;
  border: 1px solid #dae6f0;
  border-radius: 10px;
  padding: 2em;
  left: 15%;
  top: 30%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  font-size: 1.5em;
  margin-block: 1em;
}

.Links {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}

.Link {
  color: #1361ff;
  text-transform: uppercase;
  cursor: pointer;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
    left: calc(50% - 250px);
  }
}
