body {
  overflow-x: hidden;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.InputGroup {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 265px;
  max-width: 700px;
}

.Label {
  position: absolute;
  margin: 1em;
  transition: 0.2s ease all;
  color: #555f61;
}

.Input:focus ~ .Label,
.Input:valid ~ .Label,
.Input:not(:empty) ~ .Label
.Textarea:focus ~ .Label,
.Textarea:valid ~ .Label,
.Textarea:not(:empty) ~ .Label
{
  margin-top: -2em;
  color: #1c67ff;
}

.Input:focus, .Textarea:focus {
  border: solid 2px #1c67ff;
}

.Input, .Textarea {
  padding: 12px 1em;
  border-radius: 2em;
  border: solid 2px #dce6ee;
  transition: 0.2s ease all;
  margin-bottom: 1em;
}

.Textarea {
  resize: none;
}

.Error {
  text-align: center;
  margin-block: 0.5em;
  color: red;
}

.Btn:hover {
  background-color: #528afa;
}

.Btn {
  background-color: #206aff;
  transition: background-color .3s ease-in;
  cursor: pointer;
  padding: 1em 2em;
  width: 80%;
  border-radius: 5em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  max-width: 700px;
}

@media screen and (max-width: 768px) {
  .InputGroup, .Btn {
    width: 100%;
    margin: 1em 0;
  }
}
