.Content {
  margin-block: 2em;
  width: 70%;
}

.Description {
  margin-block: 1em;
  font-size: 1.2em;
  color: #828397;
}

@media screen and (max-width: 1280px) {
  .Content {
    width: 100%;
  }
}

