.Navbar {
  color: #414749;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-size: 1.5em;
}

.Navigation {
  font-size: 18px;
}

.Navigation > ul {
  display: flex;
}

.Item {
  margin-block: .5em;
  padding: .5em 1em;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
}

.Item:hover {
  background-color: #edf3fe;
  color: #1361ff;
}

@media screen and (max-width: 1000px) {
  .Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .Navigation > ul {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 600px) {
  .Navigation {
    font-size: 16px;
  }

}
