.Notebooks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.Title > h1 {
  font-size: 2em;
  color: #272838;
}

@media screen and (max-width: 865px) {
  .Notebooks {
    justify-content: center;
  }
}
