.Item {
  height: 260px;
}

.Line {
  color: #e5ebf0;
  margin-block: 1em;
}

.Description {
  height: 100px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}

.Title {
  height: 1.3em;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.Footer {
  color: #6D7779;
  margin-block: 1em;
  text-transform: uppercase;
  font-weight: bold;
}
