.Container {
  background-color: #f8fafb;
  display: flex;
  width: 100%;
  min-height: 100vh;
  min-width: 290px;
  justify-content: center;
  align-items: center;
}

.Box {
  background-color: white;
  width: 50%;
  min-width: 290px;
  max-width: 960px;
  min-height: 60vh;
  height: 100%;
  box-shadow: 0px 0px 20px #eef2f8;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  min-height: 470px;
}

.FormContainer, .ImgContainer {
  width: 50%;
}

.ImgContainer {
  background-color: #518af9;
  border-radius: 10px 0 0 10px;
}

.FormContainer {
  background-color: #fff;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.Login, .Signup {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.Form {
  width: 100%;
}

.FormTitle {
  font-size: 2em;
  margin-block: 1em;
}

.InputGroup {
  width: 100%;
  margin: 1em 0 0 0;
}

.Btn {
  width: 100%;
}

.Footer {
  margin-block: 2em;
  align-self: start;
}

.Footer a {
  color: #518af9;
  font-weight: 500;
}

@media screen and (max-width: 1280px) {
  .Box {
    width: 80%;
  }
}

@media screen and (max-width: 1100px) {
  .Box {
    flex-direction: column;
  }

  .FormContainer, .ImgContainer {
    width: 100%;
  }

  .ImgContainer {
    height: 30%;
    border-radius: 10px 10px 0 0;
  }

  .FormContainer {
    height: 70%;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .FormContainer {
    padding: 1em;
  }
}
