.Container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: #f7fafc;
  flex-direction: row;
}

.Sidebar {
  background-color: #fff;
  width: 20%;
  height: 100vh;
  border-right: 2px solid #dae6f0;
  padding: 3em 2em;
}

.MainContent {
  width: 80%;
  padding: 5em;
}

@media screen and (max-width: 1000px) {
  .Container {
    flex-direction: column;
  }

  .Sidebar {
    height: 100%;
    width: 100%;
    padding: 1em 2em;
  }

  .MainContent {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .MainContent {
    padding: 3em;
  }
}
